/* Debug  
* {
	border: 2px solid #4a4a4a;
}*/

/* 
	Main colors: 
	 gray:	 #4a4a4a
	 blue: 	 #3273dc
	 orange: #EE8434
*/

::selection {
  background: #EE8434; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #EE8434; /* Gecko Browsers */
}

html, body {
	scroll-behavior: smooth;

	font-family: hack;
	text-transform: lowercase;
}

a:hover {
	color: #4a4a4a;
	text-decoration: underline #EE8434;
}

p {
	text-align: justify;
}



@font-face {
    font-family: "hack";
    src: url(Hack-Regular.ttf) format("truetype");
}

/* Footer */
footer {
	display: flex;
	justify-content: space-between;

	padding: 20px 5%;

	border-top: solid 1px #3273dc;
}

/* Header */
#header {
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	background-image: url("header.png");

	height: 80vh;
	width: 100%;
	background-size: cover;

	z-index: -2;

}

@media (max-width: 800px) {
	#header {
		background-image: url("header-movil.png");

	}
}

/* Navbar */
nav {
	position: fixed;
	width: 100%;

	padding-left: 20px;
	padding-right: 20px;

	display: flex;
	justify-content: space-around;

	z-index: 0;
}

nav div{
	padding: 40px 0px;
}

.seccion-nav a {
	font-size: 20px;
	font-weight: bold;


	color: white;
}

.seccion-nav a:hover {
	color: #4a4a4a;
}


.contact-cta {
	margin-top: 30px;
	padding-top: 10px;

	border: solid 1px white;
    border-radius: 3px;

    color: white;

    height: 30px;

    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}

.contact-cta:hover {
	background-color: white;
}

.contact-cta:hover > a {
	color: #4a4a4a;
}

@media (max-width: 570px) {
	nav {
		flex-wrap: wrap;
	}

	.contact-cta {
		margin-top: 0px;
	}
}

@media (min-width: 571px) and (max-width: 710px) {
	nav div {
		padding: 20px;
	}

	nav {
		flex-wrap: wrap;
	}

	.contact-cta {
		padding: 10px;
		margin-top: 0px;
		height: 100%;
	}
}

/* Modal de contacto */
#contacto button {
	width: 100%;
	background-color: #3273dc;
	color: #fff;
}

#contacto .field {
	margin-top: 20px;
}

#contacto {
	display: flex;
	align-items: center;
}

@media (min-width: 800px) {
	#contacto {
	   width: 37%;

	   position: absolute;
	   visibility: hidden;
	   opacity: 0;

	   margin-right: -300px;
	   height: 80vh;

	   top:0px;
	   right: 0px;
	}

	#contacto:target {
	   visibility:visible;
	   opacity: 1;

	   position: fixed;
	   margin:0;

	   z-index: 1;

	   transition: all 0.5s;
	}

	.contenedor-popup {
	   width: 100%;

	   position: relative;

	   padding:30px 50px;

	   background-color: #fff;
	}

	#contacto .cerrar-popup {
	   position: absolute;
	   top:3px;
	   right:3px;

	   padding:7px 10px;

	   font-size: 20px;
	   line-height: 1;

	}

}

@media (max-width: 800px) {
	#contacto {
		width: 100%;
		padding: 5%;
	}

	#contacto.contenedor-popup {
		width: 100%;
	}
}



/* Wrapper */
#separator {
	position: relative;
	margin-top: -89px;

	height: 90px;
	width: 100%;
	object-fit: cover;

	z-index: 2;
}

#content {
	position: relative;
	z-index: 2;
	background-color: #fff;
}

.centered {
	padding: 5% 15% 5% 15%;
}

/* Sobre mi */
.info {
	display: flex;
	justify-content: center;

	margin-bottom: 20px;
}

/* Portfolio */
#portfolio {
	display: flex;
	padding: 0 3%;

	align-items: center;
}

.portfolio-item {
	flex-grow: 1;

	text-align: center;
}

.portfolio-item img{
	width: 500px;
	height: auto;
}

.diferenciador {
	flex-grow: 1;
}


/* Blog */
.blog-post {
	display: flex;

	
    margin-bottom: 20px;

    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1);
}

.blog-post:hover {
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	box-shadow: 0 5px 8px rgba(0,0,0,0.1), 0 2px 3px rgba(0,0,0,0.1);
}


.blog-resume {
	padding: 10px 20px;
}

@media (max-width: 800px) {
	.centered {
		margin: 0;
		padding: 5%;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	h1 {
		margin: 3%;
	}
}


/* Titles */
h1 {
	font-size: 30px;
	margin-bottom: 30px;
}

h2 {
	font-size: 24px;
}







